<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dojo Secrets</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'secrets/css/materialize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'secrets/css/materialize.min.css' %}">
    <script type="text/javascript" href="{% static 'secrets/js/materialize.js' %}"></script>
    <script type="text/javascript" href="{% static 'secrets/js/materialize.min.js' %}"></script>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper #4db6ac teal lighten-2">
      <a href="{% url 'secrets' %}" class="brand-logo">Dojo Secrets</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{% url 'secrets' %}">Home</a></li>
        <li><a href="{% url 'popular' %}">Most Popular</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
      </ul>
    </nav>
    <div class="container">
      <h4>Welcome {{request.session.fName}}</h4>
      <form action="{% url 'post' %}" method="post">
        {% csrf_token %}
        <textarea name="secret" rows="8" cols="80" placeholder="Your secret here..."></textarea>
        <br>
        <button type="submit" name="action" value="secret">Post</button>
      </form>
      <br>
      <h4>Recent Secrets</h4>
      {% for secret in secrets %}
      <p>
        {{secret.secret}}
        ({{secret.created_at|timesince}} ago)
        {{secret.secrets_likes.count}} Likes
        <a href="{% url 'likes' secret.id %}">Like</a>
        {% if request.session.id == secret.users.id %}
        <form action="{% url 'delete' secret.id %}" method="post">
          {% csrf_token %}
          <button type="submit" name="delete" value="delete">Delete</button>
        </form>
        {% endif %}
      </p>
      {% endfor %}
    </div>
  </body>
</html>
